.a-listItem__item {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  border-bottom: 4px solid white;
  transition: all 0.2s ease; }

.a-listItem__item:hover {
  border-bottom-color: #fd8926; }
