.m-login {
  position:absolute;
  padding: 70px 40px;
  min-width:600px;
  background-color: #13232f;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);

  &__header {
    margin-bottom: 35px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
  }

  &__input {
    width: 100%;
    height: 40px;
    outline-width: 0;
    padding-left: 10px;
    font-size: 15px;
    border: 3px solid white;
    transition: all 0.2s ease;
    &:hover, &:focus {
      border-color: #1ab188;
    }
  }

  &__icon {
    font-size: 18px;
    margin-right: 15px;
  }

  &__form-container--child{
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
    height: 55px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease;
    background-color: #1ab188;
    outline: 0;
    &:hover, &:focus {
      background-color: #189875;
    }
  }
}
